[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Abrir o terminal da workstation
Exec=gnome-terminal
Icon=org.gnome.Terminal
Terminal=false
Categories=System;TerminalEmulator;
