[defaults]
collections_path=./mycollections:/usr/share/ansible/collections
roles_path=./roles:/usr/share/ansible/roles:/etc/ansible/roles
inventory=./inventory
forks=5
poll_interval=15
remote_user=devops
host_key_checking=False
jinja2_native_warning=True
yaml_valid_extensions=.yml, .yaml, .json
[privilege_escalation]
become=True
become_ask_pass=False
become_method=sudo
become_user=root